<!DOCTYPE html>
<html>
    <head><title>Add To Cart</title>
    <style>
        a{
            color: white;
            background-color:darkcyan ;
            text-decoration: none;
            border: 2px solid;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        a:hover{
            color: black;
            background-color: white;
        }
    </style>
    </head>
    <body>
        <h3>Added to the cart</h3>
        </br>
        <a href='buy'>Buy more...</a></br></br>
        <a href='payment'>Make Payment</a>
    </body>
</html>